.game-info { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	margin: 20px; 
} 

#startButton { 
	margin-bottom: 20px; 
	padding: 10px; 
	font-size: 16px; 
	cursor: pointer; 
} 

#endButton { 
	margin-bottom: 20px; 
	padding: 10px; 
	font-size: 16px; 
	cursor: pointer; 
} 

.game-container { 
    background-image: url("https://img.freepik.com/premium-vector/archeology-bones-soil-layers-buried-fossil-animals-dinosaur-skeleton-bone-dirt-underground-clay-layer-vector-illustration_102902-531.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699228800&semt=ais");
	background-repeat: no-repeat;
    background-size:120%;
    background-position: 0px -105px;
    display: grid; 
    width: 43% ;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
	grid-template-columns: repeat(3, 150px); 
	gap: 20px; 
	border: 10px solid rgb(192, 101, 9); 
	padding: 20px; 
	border-radius: 40px; 

} 

.hole { 
	height: 124px; 
	background-image: url("https://static.vecteezy.com/system/resources/previews/023/669/387/non_2x/big-hole-in-ground-brown-dry-soil-and-mine-element-of-desert-landscape-cartoon-illustration-vector.jpg"); 
	background-size: 200px 174px ;
    background-position: -15px -40px;
    background-repeat: no-repeat;
    border: 5px; 
	cursor: pointer; 
	border-radius: 100px; 
} 

.mole { 
	background-size: 170px 140px;
    background-position: -10px -9px;
    background-repeat: no-repeat ; 
	background-image: url( 
	"https://www.pngkey.com/png/full/102-1024269_mole-hole-cartoon.png") 
} 
