
.figurePokemon {
    width: 200px;
    height: 280px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
  
    & img {
      height: 170px;
      width: 180px;
      animation: rebota 1.5s alternate infinite ease-in;
      transition: all 1s ease-in-out;
    }
  }
  
  .like {
    color: red;
  }
  
  @keyframes rebota {
    100% {
      transform: translateX(8px);
    }
  }
  
  .grass {
    background-color: #4feb4175;
  }
  figure.grass {
    border: 10px ridge #0e8d03;
  }
  
  figure.bug {
    border: 10px ridge #c6d409;
  }
  .bug {
    background-color: #e3f60980;
  }
  
  figure.dark {
    border: 10px ridge #5a5366;
  }
  .dark {
    background-color: #5a536687;
  }
  figure.dragon {
    border: 10px ridge #032b4e;
  }
  .dragon {
    background-color: #15497782;
  }
  figure.electric {
    border: 10px ridge #e3e014;
  }
  .electric {
    background-color: #ceec0c75;
  }
  
  figure.fairy {
    border: 10px ridge #ec8fe6;
  }
  .fairy {
    background-color: #ee4ef77e;
  }
  figure.fighting {
    border: 10px ridge #ce4068;
  }
  .fighting {
    background-color: #da547a84;
  }
  
  figure.fire {
    border: 10px ridge #df460f;
  }
  .fire {
    background-color: #da1e066f;
  }
  
  figure.flying {
    border: 10px ridge #8fa8dd;
  }
  .flying {
    background-color: #8fa8dd7c;
  }
  figure.ghost {
    border: 10px ridge #7005cd;
  }
  .ghost {
    background-color: #5518877e;
  }
  
  figure.ground {
    border: 10px ridge #b15223;
  }
  .ground {
    background-color: #90441e7c;
  }
  figure.ice {
    border: 10px ridge #17a18d;
  }
  .ice {
    background-color: #1ef1d27e;
  }
  figure.normal {
    border: 10px ridge #b0cae1;
  }
  .normal {
    background-color: #9aa6b17b;
  }
  
  figure.poison {
    border: 10px ridge #3c0e51;
  }
  .poison {
    background-color: #4422537a;
  }
  
  figure.psychic {
    border: 10px ridge #ee787c;
  }
  .psychic {
    background-color: #914b4c7e;
  }
  figure.rock {
    border: 10px ridge #cf9669;
  }
  .rock {
    background-color: #b7a36b78;
  }
  
  figure.steel {
    border: 10px ridge #a9b5b9;
  }
  .steel {
    background-color: #5a8ea17e;
  }
  figure.water {
    border: 10px ridge #0575e6;
  }
  .water {
    background-color: #5294d575;
  }